<navbar></navbar>

<div class="main">
    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>

<div class="main-footer">
    <div class="copyright">
        <div class="container-fluid">
            <div class="col-md-6">
                <p>© 2016 - All Rights with Srinivasan</p>
            </div>
            <div class="col-md-6">
                <ul class="bottom_ul list-inline">
                    <li><a href="https://twitter.com/kksrini89" target="blank">Twitter</a></li>
                    <li><a href="https://github.com/kksrini89" target="blank">GitHub</a></li>
                    <li><a href="https://plus.google.com/111370823492346559439" target="blank">Google+</a></li>
                    <li><a href="https://in.linkedin.com/in/srinivasan-k-k-29b5984b" target="blank">LinkedIn</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>